<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="browser" value="chrome"/>
		<add key="headless" value="false"/>
		<add key="implicitWait" value="2"/>
		<add key="Url" value="https://buggy.justtestit.org"/>
		<add key="username" value="lignayr"/>
		<add key="password" value="Westpac01!"/>
	</appSettings>
</configuration>
